<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<body>
	<ui:composition>
		<br/>
		<br/>
		<br/>
		<div style="text-align: center">
			<h:outputText value="&reg;Andrii Gaidychuk" style="font-size: 11px; font-family: Verdana; color: #800000;"/>
		</div>
	</ui:composition>
</body>
</html>
